.clg_logo{
    width: 100%;
    align-items: center;
    padding-left:5%;
    padding-right: 5%;

}
.rounded{
border-radius:2em;
width: 200px;
}
.photo{
  border-radius:20em;      
}
.photo h1{
    align-items: center;
    width: 250px;
}