.clg_logo {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.rounded {
  border-radius: 20px;
  width: 200px;
  padding: 25px 0 0 25px;
}

h1 {
  padding: 15px 0;
  color: rgb(63, 63, 2);
  text-align: center;
}

h3 {
  color: #0ff;
  text-align: center;
}

section .description {
  align-items: center;
  display: block;
  padding: 15px;
  margin: 15px;
}

section {
  display: flex;
}
main button{
  width: 250px;
  height: 50px;
  font-size: 20px;
  background-color: #0ff;
  border-radius: 300px;
}
main button:hover{
  background-color: #0f0
}

@media (max-width: 900px) {
  .clg_logo {
    height: 250px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    ;
  }

  .rounded {
    border-radius: 2em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }

  section {
    display: block;
  }

  section .description {
    align-self: center;
  }
}