<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="In This one can call us if you have any doubts abot the event">
    <title>Asthra event</title>
    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assests/css/style.css">
    <link rel="stylesheet" href="../assests/css/asthra.css">
</head>

<body>
    <header>
        <a href="../index.html" class="logo">Asthra 2.0</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About us</a></li>
                <li><a href="./asthra.html" class="nav-active">ASTHRA</a></li>
                <li><a href="./contact.html">Contact us</a></li>
                <li>
                    <div class="nav-content one-quarter" id="switch">
                        <input type="checkbox" class="checkbox" id="chk" />
                        <label class="label" for="chk">
                            <i class="fas fa-moon"></i>
                            <i class="fas fa-sun"></i>
                            <div class="ball"></div>
                        </label>
                    </div>
                </li>
                <!-- <li><a href=""></a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        Welcome to the world of Technical Session and Workshop.
        <a href="https://forms.gle/zSWv9aLYc7MHvwt97" target="_blank"><img
                src="../assests/img/QR_code_for_registration.png" style="width: 200px;" alt="Qr Code for registration">
        </a>
        <p>Register for the event and workshop using the QR Code by scanning or taping the QR Code.</p>
        <div class="workshop">
            <h1>Workshop</h1>
            <div class="ml">
                <h2>Machine Learning</h2>
                <img  src="../assests/img/MachineLearning.webp" alt="Machine Learning" />
                <ul>
                    <li>Machine Learning is a sub domain of <Strong>Artifical Intelligence</Strong> which is responsible
                        for
                        decision making using
                        previous historical data with help of various algorithms.</li>
                    <li>Machine learning mainly conisits of Supervised Learning and unsupervised learning. Supervised
                        learning
                        has data in a structured manner. </li>
                </ul>
            </div>
            <h2>Artificial Intelligence</h2>
            <img src="../assests/img/Artificial_intelligence.webp" alt="Artificial Intelligence">
            <ul>
                <li>Artificial intelligence is a domain in computer which is responsible for the decision making and
                    advancement of machine using human brain for initial training, after which they have intelligenve
                    asex
                    human to make their work without involvement of humans, which can perform repeated tasks simple.
                </li>

                <li>Artificial Intelligence conisits of sub domains like Machine Learning, Deep Learning.</li>
            </ul>
            <h2>Industrial Internet of Things</h2>
            <img src="../assests/img/IIot.webp" alt="industrial intetnet of things">
            <ul>
                <li>Industial Internet of Things is a technology that allows you to automate the industry using various
                    sensors and devices work on the Internet to recieve and transfer signals for input and output
                    parameters
                    using which they form the necessary operation on the machine.</li>
            </ul>
        </div>
        <div class="events">
            <h1>Events</h1><br>
            <div class="robo-race">
                <h2>Robo Race</h2>
                <img src="../assests/img/race_car.webp" alt="Robo Race on track">
                <ol>
                    <li>Robo Race is a place where two robo or more robos move in a pre defined track pssing through
                        obstacles and challenges places in between in minimum time</li>
                    <li>One has to bring a Robot vehicle like car.</li>
                </ol>
            </div>
            <div class="quiz">
                <h2>Quiz</h2>
                <img src="../assests/img/quiz.webp" alt="Quiz time">
                <ol>
                    <li>Welcome back to quiz time in this a team of 5 members will participate in the game.</li>
                </ol>
            </div><div class="">
                <h2>Treasure hunt</h2>
                <img src="../assests/img/treasure_hunt.webp" alt="Treasure hunt">
                <ol>
                    <li>Welcome back to quiz time in this a team of 5 members will participate in the game.</li>
                </ol>
            </div><div class="quiz">
                <h2>PPT Presentation</h2>
                <img src="../assests/img/ppt.webp" alt="Power point presentation">
                <ol>
                    <li>Power Point Presentation is a special skill every one must have as they have to present a presentation.</li>
                    <li></li>
                </ol>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="social-media">
            <ul>
                <li><a href="mailto:bits.mechyfi@gmail.com" target="_blank">
                        <em class="fa fa-envelope"></em></a>
                </li>
                <li><a href="https://www.facebook.com/groups/419019676663393/" target="_blank">
                        <em class="fab fa-facebook"></em></a>
                </li>
                <li><a href="https://www.instagram.com/bits_mechanical/" target="_blank">
                        <em class="fab fa-instagram"></em></a>
                </li>
                <li><a href="https://youtube.com/channel/UCBFc-dlQToTwvgODoAkUUmQ" target="_blank">
                        <em class="fab  fa-youtube"></em></a>
                </li>
            </ul>
        </div>
        <div class="pages">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About us</a></li>
                <li><a href="./asthra.html">ASTHRA</a></li>
                <li><a href="./contact.html">Contact us</a></li>
                <!-- <li><a href=""></a></li> -->
            </ul>
        </div>
        <hr />
        <div class="copyright">
            All rights reserved &#9400; Copyright 2022 Astra 2.0 by
            Baba Institute of Technology and Sciences
        </div>
    </footer>
    <script src="../assests/js/darkTheme.js"></script>
</body>

</html>