<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="In This one can call us if you have any doubts abot the event">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assests/css/style.css" />
    <link rel="stylesheet" href="../assests/css/contact.css" />
</head>

<body>
    <header>
        <a href="../index.html" class="logo">Asthra 2.0</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About us</a></li>
                <li><a href="./asthra.html">ASTHRA</a></li>
                <li><a href="./contact.html" class="nav-active">Contact us</a></li>
                <!-- <li><a href=""></a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <div class="call">
            <h1>Call us for any detail</h1>
            <p>If you have any doubts about the Astra 2.0 Technical Fest, you can contact us</p>
            <button><a href="tel:837458668"><em class="fa fa-phone"></em> Call us</a></button>
        </div>
        <div class="mail">
            <h1>Contact us</h1>
            <p>E-mail us for any querry</p><br />
            Email us at <a href="mailto:bits.mechyfi@gmail.com" id="email">bits.mechyfi@gmail.com</a><br />
            <button><a href="mailto:bits.mechyfi@gmail.com"><em class="fa fa-envelope"></em> Contact us</a></button>
        </div>
    </main>
    <footer id="footer">
        <div class="social-media">
            <ul>
                <li><a href="mailto:bits.mechyfi@gmail.com" target="_blank">
                        <em class="fa fa-envelope"></em></a>
                </li>
                <li><a href="https://www.facebook.com/groups/419019676663393/" target="_blank">
                        <em class="fa fa-facebook"></em></a>
                </li>
                <li><a href="https://www.instagram.com/bits_mechanical/" target="_blank">
                        <em class="fa fa-instagram"></em></a>
                </li>
                <li><a href="https://youtube.com/channel/UCBFc-dlQToTwvgODoAkUUmQ" target="_blank">
                        <em class="fa  fa-youtube"></em></a>
                </li>
            </ul>
        </div>
        <div class="pages">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About us</a></li>
                <li><a href="./asthra.html">ASTHRA</a></li>
                <li><a href="./contact.html">Contact us</a></li>
                <!-- <li><a href=""></a></li> -->
            </ul>
        </div>
        <hr />
        <div class="copyright">
            All rights reserved &#9400; Copyright 2022 Astra 2.0 by
            Baba Institute of Technology and Sciences
        </div>
    </footer>
</body>

</html>