<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="In This one can call us if you have any doubts abot the event">
    <title>Contact  Us</title>
    <link rel="stylesheet" href="../assests/css/style.css">
</head>
<body>
    <header>
        <a href="../index.html" class="logo">Asthra 2.0</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About us</a></li>
                <li><a href="./asthra.html">ASTHRA</a></li>
                <li><a href="./contact.html" class="nav-active">Contact us</a></li>
                <!-- <li><a href=""></a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <div class="call">
            <h1>Call us for any detail</h1>
            <button><a href="tel:837458668">Call us</a></button>
        </div>
        <div class="mail">
            <h1>Contact us</h1>
            <p>E-mail us for any querry</p><br/>
            Email us at <a href="mailto:@gmail.com">@gmail.com</a><br/>
            <button><a href="mailto:@gmail.com">Contact us</a></button>
        </div>
    </main>
    <footer>
        <div class="social-media">
            Reach us at:
            <ul>
                <li><a href="mailto:#">
                        <i class="fa fa-2x fa-envelope"></i></a>
                </li>
                <li><a href="https://www.facebook.com/groups/419019676663393/">
                        <i class="fa fa-2x fa-facebook"></i></a>
                </li>
                <li><a href="https://www.instagram.com/bits_mechanical/">
                        <i class="fa fa-2x fa-instagram"></i></a>
                </li>
                <li><a href="https://youtube.com/channel/UCBFc-dlQToTwvgODoAkUUmQ">
                        <i class="fa fa-2x fa-youtube"></i></a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            &#9400; Copyright 2022 Astra 2.0, Baba Institute of Technology and Sciences. All rights reserved
        </div>
        <div class="pages">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About us</a></li>
                <li><a href="./asthra.html">ASTHRA</a></li>
                <li><a href="./contact.html">Contact us</a></li>
                <!-- <li><a href=""></a></li> -->
            </ul>
        </div>
    </footer>
</body>
</html>